version: "3"

services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./mazerunner:/mazerunner
      - ./db.sqlite3
    command: python manage.py runserver 0.0.0.0:8000